<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/db798c0306.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body class="admin">
        <div class="wrapper">
            {% include 'admin/components/sidebar.html.twig' %}
            <div class="content">
                <div class="container p-5">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>

        {% block javascript %}
        {% endblock %}
    </body>
</html>
