{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% extends 'base-admin.html.twig' %}

{% block title %}Group | Admin{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.code) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

